body {
    background-color: rgb(198, 212, 225);
}

h1 {
   font-family: 'Palatino Linotype';
   font-size: 36px;
   color: black;
}
a {
    text-decoration: none;
    font-family: 'Palatino Linotype';
    font-size: 125%;
}
a:link {
    color: blue;
    text-decoration: none;
    font-family: 'Palatino Linotype';
    font-size: 125%;
    }

a:visited{
    color: green;
    }

a:hover {
    background-color: red;
    text-decoration: underline;
    font-family: 'Palatino Linotype';
    font-size: 125%;
}

a:active {
    text-decoration: none;
    font-family: 'Palatino Linotype';
    font-size: 125%;
}

p {
    font-family: 'Palatino Linotype';
    text-align: center;
}

h2 {
   font-family: 'Palatino Linotype';
   font-size: 20px;
   color: black;
}

ul {
    font-style: italic;
    font-family: 'Palatino Linotype';
    font-size: 16px
}

caption {
    font-size: 150%;
    font-family: 'Palatino Linotype';
    font-weight: bold;
    }
   
table{
    border-collapse: collapse;
    border: 1px solid black;
    background-color: white;
}

th {
    background-color:gray;
    font-family: 'Palatino Linotype';
    text-align: center;
    border: 2px solid black;
}
tr {
    font-family: 'Palatino Linotype';
    text-align: center;
}
td {
    border: 1px solid black;
    font-style: italic;
}