h1 {
   font-family: 'Palatino Linotype';
   font-size: 36px;
   color: black;
}

a {
    font-family: 'Palatino Linotype';
    font-size: 125%;
    }

a:hover {
    color: red;
}    

p {
    font-family: 'Palatino Linotype';
    text-align: center;
}

h2 {
   font-family: 'Palatino Linotype';
   font-size: 20px;
   color: black;
}

ul {
    font-family: 'Palatino Linotype';
    font-size: 16px
}

caption {
    font-size: 150%;
    }

table th, tr {
    border-color: solid-black;
    font-family: 'Palatino Linotype';
    text-align: center;
}