.header {
    font-family: Palatino Linotype;
    font-size: 18px;
    text-align: center;
}

.nav {
    text-align: left;
    font-size: 14px;
}

a {
    font-family: 'Times New Roman';
}

.background{
    background-color: #607B8B;
    image-align: center;
}
.paragraph2 {
    margin: auto;
    width: 380px;
    padding: 10px;
    border-width: 2px; 
    border-color: gray; 
    border-style:solid;
    text-align:left;
    background-color:#607B8B;
}

.menu{
    background: lemonchiffon;
}
.footer {
    text-align: center;
}