body{
    background-color:  #7892a1;
}

h1{
    font-family: 'Palatino Linotype';
    font-size: 36px;
    font-weight: bold;
}   

h3 {
    font-family: 'Palatino Linotype';
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

p {
    font-family: 'Palatino Linotype';
}

a:link {
    color: darkblue;
    text-decoration: none;
    font-family: 'Palatino Linotype';
    font-size: 125%;
    }

a:visited{
    color: green;
    }

a:hover {
    text-decoration: none;
    font-family: 'Palatino Linotype';
    font-size: 125%;
    font-weight: bold;
}

a:active {
    color: blue;
    text-decoration: none;
    font-family: 'Palatino Linotype';
    font-size: 125%;
}

.paragraph2 {
    margin: auto;
    padding: 10px;
    border-width: 2px; 
    border-color: whitesmoke; 
    border-style:solid;
    text-align:left;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer {
    text-align: center;
}